@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">.NET 💜 Azure</h1>
        <p class="card-text">Example .NET app to Azure App Service.</p>
    </div>
</div>